body {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  background-color: white;
}

.container {
  width: 900px;
  margin: 50px auto;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
}
