* {
  font-family: "Playwrite NZ Basic", cursive;
}


#nelson {
  font-weight: bold;
  color: brown;
  margin-bottom: 48px;
}


#para {
  font-size: 16px;
}


#card {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e0e0;
}
.nelson {
  padding: 10px;
  width: 50%;
}


.nelson img {
  width: 50%;
  /* height: auto; */
  border-radius: 10px;
}
