a,
h1 {
  color: red;
}

a {
  font-size: 30px;
  text-decoration: none; /* to remove underline */
  font-weight: bold;
  margin-right: 15px;
}

span{
    font-weight: bold;
    color: blue;
}

.business {
    font-size: 30px;
    color: yellow;
}