.box {
  display: flex;                
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;    
  border: 2px solid black;  
  background-color: lightpink;  
  margin: 50px auto;           
  padding: 10px;                
}

.box img {
  width: 100%;          
  max-width: 200px;     
  min-width: 100px; 
  border: 10px solid lightblue;  
  object-fit: cover;        
}
